@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav-container {
  font-family: "Poppins", sans-serif;
}
.signUpBtn {
  background-color: #f91944;
  color: white;
  font-weight: 600;
  border-radius: 50px;
  margin-left: 10px;
  text-align: center;
}
